<!DOCTYPE html>
<html layout:decorate="~{layouts/main-layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org">
<head>

</head>
<body>
<div th:fragment="nav">

    <!-- Sidebar -->
    <div class="bg-light border-right" id="sidebar-wrapper">
        <div class="sidebar-heading">Recipe Manager</div>
        <div class="list-group list-group-flush">
            <a th:classappend="${(#httpServletRequest.getRequestURI().startsWith('/page') ? 'active-page' : ' ')
            + (#httpServletRequest.getRequestURI().startsWith('/recipe') ? 'active-page' : ' ')}"
               th:href="@{/}" class="list-group-item list-group-item-action bg-light">Recipes</a>
            <a sec:authorize="isAuthenticated()"
               th:classappend="${#httpServletRequest.getRequestURI().startsWith('/my-recipes') ? 'active-page' : ' '}"
               th:href="@{/my-recipes/page/1}" class="list-group-item list-group-item-action bg-light">My Recipes</a>
            <a sec:authorize="isAuthenticated()"
               th:classappend="${#httpServletRequest.getRequestURI().startsWith('/cookbook') ? 'active-page' : ' '}"
               th:href="@{/cookbook/page/1}" class="list-group-item list-group-item-action bg-light">My
                Cookbook
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-heart-fill" fill="red"
                     xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                          d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
                </svg>
            </a>
            <a href="#" class="list-group-item list-group-item-action bg-light">Advanced Search</a>
        </div>
    </div>
    <!-- /#sidebar-wrapper -->

</div>
</body>
</html>